@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}
:root {
    --fonte-especial01: 'Passion One', cursive;
    --fonte-especial02: 'Sriracha', cursive;
}

html, body    {
    min-height: 100%vh;
    width: 100%vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-especial01);
    font-weight: bold;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 50px;
}

header > p {
    padding-bottom: 50px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

section {
    font-family: var(--fonte-especial02);
    width: 100%vw;
    padding-top: 10%vh;
    padding-bottom: 10%vh;
    line-height: 2em;
    font-size: 30px;

}

section.normal {
    padding: 100px 30px;
}

section.imagem01 {
    height: 600px;
    padding-top: 120px;
    padding-bottom: 50px;
    background: url("imagens/background001.jpg") center right no-repeat fixed;
    background-size: cover;
    position: relative;
}

section.imagem01 > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    margin-left: 30px;
}

section.imagem02 {
    height: 600px;
    padding-top: 120px;
    padding-bottom: 50px;
    background: url("imagens/background002.jpg") center right no-repeat fixed;
    background-size: cover;
    position: relative;
}

section.imagem02 > p {
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    width: 400px;
    margin-left: 30px;
}

footer {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%vh;
    padding: 15px;
    text-align: center;
    color: white;
}

footer a {
    text-decoration: underline;
    color: white;
    font-weight: bolder;
}

footer p.elemento01 {
    padding-top: 10px;
}

